<% 
if !defined? nachricht 
nachricht = ""
end
if !defined? name 
name = ""
end 
if !defined? telefon
telefon = ""
end 
if !defined? email
email = ""
end 
if !defined? text 
text = ""
end 
content_for :head do  %>
<style type="text/css">
#box {
height: 900px;
}
</style>
<% end %>
<div id="navigation" class="ap">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="normal"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/unterstuetzer.html">Unterstützer</a></div>
<div class="current"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div id="content">
<div class="banner"><img src="images/kontakt/banner.png"/></div> 
<% form_tag( { :action => "kontakt" }, :id => "kontakt" ) do %> 
<fieldset id="basics">
<p>
<label for="name">Name</label>
<input type="text" name="name" id="name" size="30" placeholder="Peter Enterprise" value="<%=raw name %>" required />
</p>
<p>
<label for="email">E-Mail</label>
<input type="email" name="email" id="email" size="30" placeholder="peter@afrophon.de" value="<%=raw email %>" required />
</p>
<p>
<label for="telefon">Telefonnummer</label>
<input type="tel" name="telefon" id="telefon" size="30" placeholder="03521 456 438" value="<%=raw telefon %>" />
</p>
</fieldset>
<fieldset id="nachricht">
<p>
<label for="nachricht">Nachricht</label>
<textarea name="nachricht" id="nachricht" required><%=raw text %></textarea>
</p>
</fieldset>
<button type="submit" value="Abschicken" >Abschicken</button>
<div id="message"><%=raw nachricht %></div>
<% end %> 
<img class="bg-form" src="images/kontakt/bg-rlink.png" />
<div id="kontakt-informationen">
<p id="adresse">
Afrophon<br />
Freiheit 13<br />
01662 Mei&szlig;en<br />
</p>
<p id="contact">
+49 160 1661204<br />
<a href="mailto:hallo@afrophon.de">hallo@afrophon.de</a><br />
</p>
</div>
<div id="social">
<a href="http://www.twitter.com/afrophon" id="twitter" target="_blank"></a>
<a href="http://www.facebook.com/afrophon" id="facebook" target="_blank"></a>
<a href="http://www.youtube.com/user/afrophon" id="youtube" target="_blank"></a>
</div>
<div id="rightside">
</div>
</div>