<!DOCTYPE html>
<html>
<head>

<title><%= yield :title %></title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="content-language" content="de" />
<meta name="copyright" content="Afrophon, Meißen, Germany" />
<meta name="author" content="Afrophon, Meißen, Germany" />
<meta name="email" content="hallo@afrophon.de">
<meta name="language" content="de" />
<meta name="robots" content="index, follow, noodp, noydir, noarchive" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="imagetoolbar" content="false" />
<meta name="description" content="Wir sind Afrophon, eine im September 2010
gegründete Schülerfirma aus Meißen. Wir beleben die Musik- und Jugendkultur
in Meißen und nehmen am JUNIOR-Projekt teil." />
<meta name="keywords" content="Event, Veranstaltung, Musik, Meißen, Konzert,
Jugend, Kultur, Unternehmen, Schüler, Afra">
<meta name="MSSmartTagsPreventParsing" content="true" />

<meta property="fb:page_id" content="162334230449727" />
<meta property="fb:admins"
content="640522334,1842925905,100000375062808,1596932177"/>

<meta property="og:title" content="Afrophon" />
<meta property="og:type" content="company" />
<meta property="og:url" content="https://www.afrophon.de" />
<meta property="og:site_name" content="Afrophon" />
<meta property="og:image" content="http://www.afrophon.de/images/afrophon.jpg" />
<meta property="og:latitude" content="13.4833"/>
<meta property="og:longitude" content="51.15"/>
<meta property="og:street-address" content="Freiheit 13"/>
<meta property="og:locality" content="Meissen"/>
<meta property="og:region" content="Saxony"/>
<meta property="og:postal-code" content="01662"/>
<meta property="og:country-name" content="Germany"/>
<meta property="og:email" content="hallo@afrophon.de"/>
<meta property="og:phone_number" content="+49 (0) 3521-456-0"/>
<meta property="og:fax_number" content="+49 (0) 3521-456-199"/>
<meta name="viewport" content="width=1024" />
<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "application.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" %>
<%= yield :head %>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19405221-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>
<body>
<div id="box">

<div class="bg"><div class="logo-img"></div></div>

<%= yield:navigation %>

<div class="dyncontent">
<%= yield %>
</div>

</div>

<div id="footer">
<div id="footer-element">
<div id="footer-content">
<div id="links"><br />
<a href="/impressum.html">Impressum</a><br />
<a href="/datenschutz.html">Datenschutz</a><br />
<a href="/newsletter.html">Newsletter</a><br />
<a href="/kontakt.html">Kontakt</a><br />
<a href="/investorrelations.html">Investor Relations</a><br />
<img src="images/logo.png" id="footer-logo" />
</div>
<div id="center">
Afrophon ist als Schülerunternehmen Teilnehmer von &nbsp; <img src="images/junior.png" />
</div>
</div>
</div>
</div>

</body>
</html>
