<!DOCTYPE html>
<html>
<head>
<title>Afrophon</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "application.js" %>
<!--<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" %>-->
<%= javascript_include_tag "jquery-1.6.min.js" %>
<%= yield :head %>
</head>
<body>
<div id="box">

<div class="bg"><div class="logo-img"></div></div>

<div class="dyncontent">
<%= yield %>
</div>

</div>

<div id="footer">
<div id="footer-element">
<div id="footer-content">
<div id="links"><br />
<a href="/impressum.html">Impressum</a><br />
<a href="/datenschutz.html">Datenschutz</a><br />
<a href="/newsletter.html">Newsletter</a><br />
<a href="/kontakt.html">Kontakt</a><br />
<a href="/investorrelations.html">Investor Relations</a><br />
<img src="images/logo.png" id="footer-logo" />
</div>
<div id="center">
Afrophon ist als Schülerunternehmen Teilnehmer von &nbsp; <img src="images/junior.png" />
</div>
</div>
</div>
</div>

</body>
</html>
