<!DOCTYPE html>
<html>
<head>
<title>Afrophon</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "application.js" %>
<!--<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" %>-->
<%= javascript_include_tag "jquery-1.6.min.js" %>
<%= yield :head %>
<style type="text/css">
#box {
height: 1100px;
}
</style>
</head>
<body>
<div id="box">

<div class="bg"><div class="logo-img"></div></div>

<div class="dyncontent">
<div id="navigation" class="ap">
<div class="normal"><a href="/">Neuigkeiten</a></div>
<div class="normal"><a href="/ueber-uns.html">&Uuml;ber uns</a></div>
<div class="current"><a href="/events.html">Events</a></div>
<div class="normal"><a href="/partner.html">Unterstützer</a></div>
<div class="normal"><a href="/kontakt.html">Kontakt</a></div>
</div>
<div id="animation">
<%= yield %>
</div>
</div>

</div>

</body>
</html>
